
@{
    ViewData["Title"] = "เกี่ยวกับเรา";
}

<h1 class="text-center">เกี่ยวกับเรา</h1>

<<<<<<< HEAD
<p>เราคือบริษัทที่มีประสบการณ์ในการพัฒนาระบบอัตโนมัติในรูปแบบต่าง ๆ ด้วยเทคโนโลยีที่ทันสมัย</p>
<p>เรามุ่งมั่นในการสร้างระบบอัตโนมัติที่มีคุณภาพและตอบสนองความต้องการของลูกค้า</p>
<p>คุณสามารถติดต่อเราที่ <a href="jirawut.mee21@gmail.com">E-mail</a></p>

<div class="about-content d-flex justify-content-center align-items-center">
    <img src="~/images/Mee2.jpg" alt="รูปภาพเกี่ยวกับเรา" class="about-image">
</div>
<style>
    .about-content {
        margin-top: 20px; /* เพิ่มระยะห่างด้านบนของหน้า */
    }

    .about-image {
        max-width: 40%; /* รูปจะไม่เกินความกว้างของพื้นที่ที่แสดงรูป */
        height: auto; /* ความสูงของรูปจะถูกปรับเป็นอัตราส่วน */
        margin-bottom: 10px; /* ระยะห่างด้านล่างของรูป */
    }
</style>
=======
>>>>>>> c533b1ce84d15fd0f29edef58a8be2228b33f338
